{% extends "admin/base.html" %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/jquery.min.js' %}" type="text/javascript"></script>
    <script  type="text/javascript">
    	var getOptions = function (val) {
    		if(val && val.length>0){
    			console.log("val:" + val);
    			$.ajax({
				    type: "GET",  
				    url: "getSuggestions/?q=" + val,
				    success: function(response){  
				        console.log(response);
				        response = JSON.parse(response);
				        for( var i = 0; i>response.length; ++i){
				        	console.log(response[i]);
				        }
				    },
				    error: function(XMLHttpRequest, textStatus, errorThrown) { 
				        console.log("failure");
				    }       
				});
    		}
    	};

    	$('document').ready(function(){
    		console.log("hello");
    		console.log($("#searchbar"));
    		$( "#searchbar" ).change(function() {
  					getOptions($(this).val());
  			});
    	});
    </script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Super Store Clothing</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
